<!DOCTYPE html>

<%- include('../partials/mark') %>

<html lang="en">
	<head>
	    <%- include('../partials/head') %>
	</head>
	<body class="home">
		<div class="header">
			<%- include('../partials/header') %>
		</div>
		<div id="app" class="content-area">
			
			<div class="section">

			    <div class="part posts" >
					<div class="pigeon-archive-sites all">
						<% sections.forEach(function(args) { %>
							<div class="pigeon-archive-part">
							    <a href="<%= args.url %>" target="_Blank">

						        	<% if (args.comingSoon) { %>
						            	<div class="cs-tag">Coming soon</div>
						            <% } %>
							        <div class="pigeon-archive-part-content">
							        	<% if (args.title) { %>
							            	<h4 class="pigeon-archive-part-title"><%= args.title %></h4>
							            <% } %>
							            <div class="pigeon-archive-part-excerpt"><%= args.desc %>
							                <span class="learn-more">
							                    View more <i class="fa-solid fa-angle-right"></i>
							                </span>
							            </div>
							        </div>
							        <div class="pigeon-archive-part-img">
							        	<% if (args.img) { %>
							            	<img loading="lazy" src="<%= args.img %>" width="200px">
							            <% } %>
							        </div>
							    </a>
							</div>
						<% }); %>
					</div>
				</div>

			</div>

		</div>
		<div class="footer">
			<%- include('../partials/footer') %>
		</div>
	</body>
		
</html>