<div class="pigeon-archive-part" style="<%= args.gradient ? `background: linear-gradient(150deg,${args.gradient});` : '' %>">
    <a href="<%= args.url %>" target="_Blank">
        <%= args.comingSoon ? '<div class="cs-tag">Coming soon</div>' : '' %>
        <div class="pigeon-archive-part-content">
            <%= args.title ? `<h4 class="pigeon-archive-part-title">${args.title}</h4>` : '' %>
            <div class="pigeon-archive-part-excerpt"><%= args.desc %>
                <span class="learn-more">
                    View more <i class="fa-solid fa-angle-right"></i>
                </span>
            </div>
        </div>
        <div class="pigeon-archive-part-img">
            <%= args.img ? `<img loading="lazy" src="${args.img}" width="200px">` : '' %>
        </div>
    </a>
</div>